$background-gradient: linear-gradient(90deg, rgba(56,164,58,1) 0%, rgba(0,183,234,1) 100%);
$gradient-button: linear-gradient(90deg, rgb(62, 174, 64) 30%, rgb(24, 202, 251) 80%);
$background-green: rgba(56,164,58,1);
$font-din: "DIN Pro";
$text-white: #FFF;
$text-light-gray: #666;
$text-dark-gray: #222;
$text-green: rgb(56, 164, 58);
